@import "tailwindcss";

/* define background gradients for each page */
.bg-gradient-about {
  background: #32ba8a;
  background: linear-gradient(150deg,rgba(50, 186, 138, 1) 0%, rgba(87, 87, 255, 1) 55%, rgba(153, 236, 255, 1) 100%);
  height: 155vh;
  background-attachment: fixed;
}

.bg-gradient-portfolio {
  background: #32ba8a;
  background: linear-gradient(150deg,rgba(50, 186, 138, 1) 0%, rgba(87, 87, 255, 1) 55%, rgba(153, 236, 255, 1) 100%);
  height: 160vh;
  background-attachment: fixed;
}


.bg-gradient-cs {
  background: #32ba8a;
  background: linear-gradient(150deg,rgba(50, 186, 138, 1) 0%, rgba(87, 87, 255, 1) 55%, rgba(153, 236, 255, 1) 100%);
  height: 100vh;
  background-attachment: fixed;
}

.bg-gradient-media {
  background: #32ba8a;
  background: linear-gradient(150deg,rgba(50, 186, 138, 1) 0%, rgba(87, 87, 255, 1) 55%, rgba(153, 236, 255, 1) 100%);
  height: 125vh;
  background-attachment: fixed;
}

.bg-gradient-filmtrack {
  background: #32ba8a;
  background: linear-gradient(150deg,rgba(50, 186, 138, 1) 0%, rgba(87, 87, 255, 1) 55%, rgba(153, 236, 255, 1) 100%);
  height: 250vh;
  background-attachment: fixed;
}

.bg-gradient-careerquest {
  background: #32ba8a;
  background: linear-gradient(150deg,rgba(50, 186, 138, 1) 0%, rgba(87, 87, 255, 1) 55%, rgba(153, 236, 255, 1) 100%);
  height: 240vh;
  background-attachment: fixed;
}

.bg-gradient-honors {
  background: #32ba8a;
  background: linear-gradient(150deg,rgba(50, 186, 138, 1) 0%, rgba(87, 87, 255, 1) 55%, rgba(153, 236, 255, 1) 100%);
  height: 183vh;
  background-attachment: fixed;
}

.bg-gradient-profile {
  background: #32ba8a;
  background: linear-gradient(150deg,rgba(50, 186, 138, 1) 0%, rgba(87, 87, 255, 1) 55%, rgba(153, 236, 255, 1) 100%);
  height: 100vh;
  background-attachment: fixed;
}

.bg-gradient-uay {
  background: #32ba8a;
  background: linear-gradient(150deg,rgba(50, 186, 138, 1) 0%, rgba(87, 87, 255, 1) 55%, rgba(153, 236, 255, 1) 100%);
  height: 150vh;
  background-attachment: fixed;
}

.bg-gradient-ambiguous-logo {
  background: #32ba8a;
  background: linear-gradient(150deg,rgba(50, 186, 138, 1) 0%, rgba(87, 87, 255, 1) 55%, rgba(153, 236, 255, 1) 100%);
  height: 1665vh;
  background-attachment: fixed;
}

/* adjust the gradient's height on different breakpoints */
@media (width >= 40rem) {
  .sm\:bg-gradient-about-sm {
    height: 100vh
  }

  .sm\:bg-gradient-portfolio-sm {
    height: 100vh
  }

  .sm\:bg-gradient-cs-sm {
    height: 135vh
  }

  .sm\:bg-gradient-media-sm {
    height: 185vh
  }

  .sm\:bg-gradient-uay-sm {
    height: 136vh
  }

  .sm\:bg-gradient-profile-sm {
    height: 110vh;
  }

  .sm\:bg-gradient-careerquest-sm {
    height: 215vh
  }

  .sm\:bg-gradient-filmtrack-sm {
    height: 225vh
  }

  .sm\:bg-gradient-honors-sm {
    height: 240vh;
  }

  .sm\:bg-gradient-ambiguous-logo-sm {
    height: 1665vh
  }
}

@media (width >= 48rem) {
  .md\:bg-gradient-about-md {
    height: 105vh
  }

  .md\:bg-gradient-cs-md {
    height: 100vh
  }

  .md\:bg-gradient-media-md {
    height: 110vh
  }

  .md\:bg-gradient-uay-md {
    height: 100vh
  }

  .md\:bg-gradient-profile-md {
    height: 100vh
  }

  .md\:bg-gradient-careerquest-md {
    height: 245vh
  }

  .md\:bg-gradient-filmtrack-md {
    height: 260vh
  }

  .md\:bg-gradient-honors-md {
    height: 285vh;
  }

  .md\:bg-gradient-ambiguous-logo-md {
    height: 1155vh;
  }
}

@media (width >= 64rem) {
  .lg\:bg-gradient-media-lg {
    height: 135vh
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  /* added fort to allow for rendering tailwind font-thin */
  --font-geist-sans: 'Inter', sans-serif;
}




/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  /* replace default font with font that can render tailwind font-thin class */
  font-family: 'Inter', sans-serif;  
  /* font-family: Arial, Helvetica, sans-serif; */
}
